<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
</head>
<body>
<h3>Projects</h3>

{% for project in projects %}
    <h3>
        <li>
            <a href="/project/{{ project.project_id }}">{{ project.title }} </a>
            <form action="/delete/project/{{ project.project_id }}" method="POST">
                <input type="submit" value="Delete Project">
            </form>
        </li>

    </h3>
{% endfor %}
<br>
<br>
<h3>Add new project</h3>
<form action="/add/project" method="POST">
    <div>
        Project Name: <input type="text" name="project-title">
        <br>
        <input type="submit" value="Add Project">
    </div>
</form>

{% for category, message in get_flashed_messages(with_categories=true) %}
    <div style="color:{{ category }}">{{ message }}</div>
{% endfor %}

</body>
</html>